#project-card {
  width: 400px;
  height: 350px;
  border-radius: 20px;
  margin: 10px;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}



img.proj-img {
  border-radius: 25px;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 18px;
}

.proj-img {
  object-fit: cover;
  width: 380px;
  height: 260px;
  border: 0.5 solid grey;
  padding: 10px;
}

#proj-txt-container {
  text-align: center;
}

img.proj-img:hover {
  box-shadow: var(--color-main-background) 0px 2px 4px;
  transform: translateY(2px);
}

@media only screen and (max-width: 700px) {
  #project-card {
    width: 330px;
    height: 280px;
    margin: 3px;
  }
  
  .proj-img {
    width: 310px;
    height: 190px;
  }
} 
