#nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	position: sticky;
	top: 0;
	padding: 20px;
	height: 0;
	z-index: 9;
	background-color: var(--color-main-background);
}

.nav-content-container {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.nav-menu-link, #nav-logo-container p {
	text-decoration: none;
	font-weight: 400;
	font-size: 21px;
	color: var(--color-light);
	text-transform: lowercase;
	letter-spacing: 1.5px;
	padding: 0px 5px;

}

.nav-menu-link:hover {
	font-weight: 700;
	color: var(--accent-color)
}

.nav-menu-link::before {
	display: block;
	content: attr(title);
	font-weight: var(--bold);
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.active {
	font-size: 21px;
	text-decoration: none;
	font-weight: var(--bold);
	color: var(--accent-color);
	text-transform: lowercase;
	letter-spacing: 1.5px;
	padding: 0px 5px;
}

p {
	margin: 0;
}


@media screen and (max-width: 700px) {
	.nav-menu-link, #nav-logo-container p {
		font-size: 18px;
	}

	.active {
		font-size: 18px;
	}

}