.form-wrapper h1 {
  text-align: center;
}

form {
  flex-direction: column;
  gap: 40px;
  -webkit-animation: fadeIn 1s;
}

#form-btn-container {
  display: flex;
  justify-content: right;
}

.form-item {
  position: relative;
  width: 400px;
}

.form-item #message {
  height: 180px;
}

.form-item input,
.form-item textarea {
  width: 100%;
  padding: 20px 0px;
  background-color: var(--color-main-background);
  border: none;
  border-bottom: 0.5px solid var(--color-light);
  font-size: 18px;
  transition: 0.3s;
  outline: none;
  color: var(--color-jet-black)
}

.form-item span {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 10px;
  pointer-events: none;
  font-size: 15px;
  background-color: var(--color-main-background);
  color: var(--color-light);
  text-transform: uppercase;
  transition: 0.3s;
  letter-spacing: 0.2em;
}

.form-item input:valid ~ label span,
.form-item input:focus ~ label span,
.form-item textarea:valid ~ label span,
.form-item textarea:focus ~ label span {
  color: var(--accent-color);
  background: var(--color-main-background);
  padding: 0 10px;
  transform: translateX(-5px) translateY(-30px);
  font-size: 0.8em;
  font-weight: var(--bold);
  letter-spacing: 0.2em;
}

.form-wrapper button {
  width: 100%;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  color: var(--color-main-background);
  background-color: var(--color-light);
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.form-wrapper button:hover {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--color-light);
  border: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}