:root {
  --accent-color: #66879C;
  --light-grey: #F5F5F5;
	--bold: 700;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

div.page-height {
  height: 80vh;
}

div#home-section {
  background-color: var(--light-grey);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.description-container {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px 0 50px;
}

#about-section h1 {
  text-align: center;
  padding-top: 10px;
}

#inner-about-section {
  background-color: var(--light-grey);
  padding: 30px;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

h1#greeting {
  font-size: 50px;
}

.home-text-container {
  width: 400px;
  transform: translateX(37vw) translateY(-500px);
  padding-left: 10px;
}

.profile-picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile-pic-container {
  padding-top: 100px;
  display: block;
  height: 600px;
  margin: 30px;
  -webkit-animation: fadeIn 1s;
}


/* rotating logo effect */
/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */


/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */