@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;700&display=swap');

html,body {
  margin: 0px;
  padding: 0;
}

:root {
  --color-jet-black: #343434;
  --color-main-background: #6D6875;
  --accent-color: #b5838d;
  --color-light: #F3DBCE;
	--bold: 700;
  --page-height: calc( 100vh - 50px );
  font-family: 'League Spartan', sans-serif;
}

textarea, input {
  font-family: 'League Spartan', sans-serif;
  line-height: 1.5;
  font-size: 100px;
}

h1 {
  color: var(--color-light);
  font-size: 50px;
}

body {
  background-color: var(--color-main-background);
}

.page-height {
  height: var(--page-height);
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}